@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
}

.masthead {
  background-color: #000;
  position: relative;
  z-index: 1;
}

.masthead::before {
  background-color: black;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%);
  z-index: -1; /* Behind text */
}

#title {
  font-family: BebasNeue;
  font-size: 6rem;
  letter-spacing: 0.5rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#searchButton {
  box-sizing: border-box;
  padding: 1.25rem 2.255rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10rem;
  width: 30%;
  transition: background-color 0.3s, color 0.3s;
}

#searchButton:hover {
  border-color: #f4623a;
  color: #f4623a;
  background-color: white;
}

#searchBar {
  display: none;
  position: relative;
}

#searchInput {
  box-sizing: border-box;
  padding: 1.25rem 2.255rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10rem;
  border: 1px solid #f4623a;
  color: #f4623a;
  width: 30%;
  max-width: 300px;
}

#suggestions {
  position: absolute;
  bottom: 100%; /* Positioned above input */
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
  font-family: BebasNeue;
  letter-spacing: 0.1rem;
  border: 1px solid #f4623a;
}

#suggestions li {
  cursor: pointer;
  padding: 0.5rem;
}

#suggestions li:hover {
  background-color: #f88d6f;
}

#warnings {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d35400;
  color: white;
  font-family: BebasNeue;
  letter-spacing: 1px;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  padding: 5px;
}

.ratings-logos {
  width: 100px;
  height: auto;
  padding: 10px;
}

.card {
  margin: 0 auto;
  width: 18rem;
}

.card a {
  text-decoration: none;
  color: inherit;
}

.card a img {
  transition: filter 0.4s;
}

.card a img:hover {
  filter: brightness(0.8);
}

.card a h5:hover {
  text-decoration: underline;
  color: #f4623a;
}

.card-img {
  width: 100%;
  height: 420px;
  object-fit: cover;
}

.card-title {
  font-size: 1.15rem;
  height: 2.2rem;
  line-height: 1.2;
}

.carousel-control-prev,
.carousel-control-next {
  font-size: 30px;
  top: -25%;
  color: white;
}

.svg-inline--fa.fa-chevron-left,
.svg-inline--fa.fa-chevron-right {
  border-radius: 5px;
  padding: 20px 20px;
  background-color: #f4623a;
}

.carousel-control-prev {
  left: -140px;
}

.carousel-control-next {
  right: -140px;
}

#contact {
  padding-bottom: 4rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff;
  border-radius: 100%;
  font-size: 1.5rem;
  margin: 0 0.75rem;
}

.social-icons .social-icon:hover {
  color: #fff;
  transform: scale(1.2);
}


/* Media queries */

@media (max-width: 1400px) {

  /* Big screens */
  .card {
    width: 15rem;
  }

  .card-img {
    height: 350px;
  }

  .card-title {
    font-size: 1rem;
    line-height: 1.1;
  }

  .carousel-control-prev {
    left: -120px;
  }

  .carousel-control-next {
    right: -120px;
  }
}

@media (max-width: 1200px) {

  /* Small screens */
  #title {
    font-size: 5rem;
  }

  #searchButton {
    width: 35%;
    max-width: none;
    font-size: 0.8rem;
  }

  #searchInput {
    width: 35%;
  }

  .card {
    width: 12rem;
  }

  .card-body {
    padding: 10px;
  }

  .card-img {
    height: 300px;
  }

  .card-title {
    font-size: 0.9rem;
    height: 2rem;
  }

  .ratings-logos {
    width: 80px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    font-size: 20px;
  }

  .svg-inline--fa.fa-chevron-left,
  .svg-inline--fa.fa-chevron-right {
    padding: 15px 15px;
  }

  .carousel-control-prev {
    left: -100px;
  }

  .carousel-control-next {
    right: -100px;
  }
}

@media (max-width: 992px) {

  /* Tablet screens */
  #title {
    font-size: 4rem;
  }

  .card {
    width: 9rem;
  }

  .card-body {
    padding: 5px;
  }

  .card-img {
    height: 240px;
  }

  .card-title {
    font-size: 0.7rem;
    height: 1.7rem;
  }

  .ratings-logos {
    width: 60px;
    padding: 5px;
  }

  li a {
    font-size: 0.8rem;
  }

  .svg-inline--fa.fa-chevron-left,
  .svg-inline--fa.fa-chevron-right {
    padding: 8px 8px;
  }

  .carousel-control-prev {
    left: -80px;
  }

  .carousel-control-next {
    right: -80px;
  }

  #contact {
    padding-bottom: 1rem;
  }
}

@media (max-width: 768px) {

  /* Small tablet screens */
  #title {
    font-size: 2rem;
  }

  #searchButton {
    width: 35%;
    font-size: 0.65rem;
  }

  #searchInput {
    font-size: 0.65rem;
    width: 35%;
  }

  .card {
    width: 14rem;
  }

  .card-img {
    height: 350px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    font-size: 30px;
    top: 0;
  }

  .svg-inline--fa.fa-chevron-left,
  .svg-inline--fa.fa-chevron-right {
    padding: 50px 10px;
  }

  .carousel-control-prev {
    left: -60px;
  }

  .carousel-control-next {
    right: -60px;
  }

}

@media (max-width: 576px) {

  /* Smartphone screens */
  #title {
    font-size: 2rem;
  }

  #searchButton {
    width: 45%;
    font-size: 0.65rem;
  }

  #searchInput {
    font-size: 0.65rem;
    width: 40%;
  }

  #warnings {
    font-size: 0.75rem;
  }

  .card {
    width: 18rem;
  }

  .card-img {
    height: 420px;
  }

  .card-title {
    font-size: 1.15rem;
    height: 2.2rem;
    line-height: 1.2;
  }

  .ratings-logos {
    width: 100px;
  }

  li a {
    font-size: 1rem;
  }

  .svg-inline--fa.fa-chevron-left,
  .svg-inline--fa.fa-chevron-right {
    padding: 50px 10px;
  }

  .carousel-control-prev {
    left: -23px;
  }

  .carousel-control-next {
    right: -23px;
  }
}