@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
}

.masthead {
  background-color: #000;
  position: relative;
  z-index: 1;
}

.masthead::before {
  background-color: black;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%);
  z-index: -1;
  /* Behind text */
}

#title {
  font-family: BebasNeue;
  font-size: 6rem;
  letter-spacing: 0.5rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#searchButton {
  box-sizing: border-box;
  padding: 1.25rem 2.255rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10rem;
  width: 30%;
  transition: background-color 0.3s, color 0.3s;
}

#searchButton:hover {
  border-color: #f4623a;
  color: #f4623a;
  background-color: white;
}

#searchContainer {
  display: none;
  position: relative;
}

#searchInputField {
  box-sizing: border-box;
  padding: 1.25rem 2.255rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 10rem;
  border: 1px solid #f4623a;
  width: 30%;
  color: #f4623a;
  transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out, border-radius 3s ease-in-out;
}

#searchInputField:focus {
  width: 60%;
  opacity: 1;
  border-radius: 1rem;
}

#suggestionsList {
  position: absolute;
  bottom: 100%; /* Positioned above input */
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
  font-family: BebasNeue;
  letter-spacing: 0.1rem;
  border: 1px solid #f4623a;
}

#suggestionsList li {
  cursor: pointer;
  padding: 0.5rem;
}

#suggestionsList li:hover {
  background-color: #f88d6f;
}

#warnings {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d35400;
  color: white;
  font-family: BebasNeue;
  letter-spacing: 1px;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  padding: 5px;
}

#contact {
  padding-bottom: 4rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff;
  border-radius: 100%;
  font-size: 1.5rem;
  margin: 0 0.75rem;
}

.social-icons .social-icon:hover {
  color: #fff;
  transform: scale(1.2);
}


/* Media queries */

@media (max-width: 1200px) {

  /* Small screens */
  #title {
    font-size: 5rem;
  }

  #searchButton {
    width: 35%;
    max-width: none;
    font-size: 0.8rem;
  }

  #searchInputField {
    width: 35%;
  }
  
  #searchInputField:focus {
    width: 70%;
  }

  #suggestionsList {
    width: 70%;
  }
}

@media (max-width: 992px) {

  /* Tablet screens */
  #title {
    font-size: 4rem;
  }

  #suggestionsList {
    font-size: 0.9rem;
    max-height: 290px;
  }

  #movie-suggestion {
    font-size: 0.9rem;
  }

  #contact {
    padding-bottom: 1rem;
  }
}

@media (max-width: 768px) {

  /* Small tablet screens */
  #title {
    font-size: 2rem;
  }

  #searchButton {
    width: 40%;
    font-size: 0.65rem;
  }

  #searchInputField {
    width: 40%;
    font-size: 0.65rem;
  }

  #searchInputField:focus {
    width: 80%;
  }

  #suggestionsList {
    width: 80%;
    max-height: 280px;
  }

  #movie-suggestion {
    font-size: 0.8rem;
  }
}

@media (max-width: 576px) {

  /* Smartphone screens */
  #title {
    font-size: 2rem;
  }

  #searchButton {
    width: 45%;
    font-size: 0.6rem;
    padding: 1rem 1.5rem;
  }

  #searchInputField {
    width: 45%;
  }

  #suggestionsList {
    max-height: 290px;
    width: 80%;
  }

  #warnings {
    font-size: 0.75rem;
  }
}