@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue-Regular.ttf') format('truetype');
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #121212;
    color: #e0e0e0;
    box-sizing: border-box;
}

.main-body {
    padding-top: 50px;
}

.row {
    margin: 0;
}

.container {
    width: 85%;
}

.navbar {
    background: linear-gradient(90deg, #2c2c2c, #3b3b3b, #505050, #2c2c2c) !important;
}

#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
    color: #ccc;
}

.nav-link:hover {
    color: #dee2e6 !important;
}

#searchBar {
    width: 70%;
    position: relative;
}

#searchBar input {
    width: 100%;
    border: 1px solid #e0e0e0;
    font-family: BebasNeue, sans-serif;
    letter-spacing: 0.1rem;
}

#searchBar input::placeholder {
    font-family: sans-serif;
    opacity: 0.6;
}

#suggestions {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
    font-family: BebasNeue, sans-serif;
    letter-spacing: 0.1rem;
}

#suggestions li {
    cursor: pointer;
    padding: 0.5rem;
}

#suggestions li:hover {
    background-color: #f88d6f;
}

#warnings {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d35400;
    color: white;
    font-family: BebasNeue, sans-serif;
    letter-spacing: 1px;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
    padding: 5px;
}

#title {
    margin-top: 1rem;
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
}

img {
    width: 100%;
    height: auto;
}

.card {
    width: 95%;
    background-color: #2c2c2c;
    border: 1px solid #444;
    border-radius: 8px;
    padding: 15px;
    margin: 0 auto;
}

#poster {
    border-radius: 10px;
}

.card li {
    margin: 0.75rem;
}

#year,
#genre {
    font-size: 1.30rem;
    font-weight: 900;
}

#imdbLink,
#rottenTomatoesLink,
#metacriticLink {
    display: inline-block;
    margin: 0 20px;

}

.ratings-logos {
    width: 95px;
    height: auto;
}

.ratings-logos:hover {
    opacity: 0.8;
}

#imdbRating,
#rottenTomatoesRating,
#metacriticRating {
    font-size: 18px;
}

.rating-container {
    justify-content: center;
    display: flex;
    align-items: center;
}

.image-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.image-container:hover {
    filter: brightness(0.9);
}

#placeholderImage {
    width: 100%;
    border-radius: 8px;
}

.play-button-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    cursor: pointer;
}

.image-container:hover .play-button-overlay {
    filter: brightness(0.8);
}

#trailerPlayer {
    width: 100%;
}

.trailer-wrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    margin: 0 auto;
}

.trailer-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.list-unstyled {
    margin-bottom: 0;
}

#plot {
    font-size: 20px;
    color: white;
    padding-bottom: 30px;
}


/* Media queries */

@media (max-width: 1400px) {

    /* Big screens */
    .container {
        width: 80%;
    }

    #warnings {
        width: 80%;
    }

    .ratings-logos {
        min-width: 75px;
    }

    #imdbRating,
    #rottenTomatoesRating,
    #metacriticRating {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {

    /* Small screens */
    .container {
        width: 90%;
    }

    .movie-info-container {
        font-size: 0.9rem;
    }

    .card {
        padding: 10px;
        margin: 0 auto;
    }

    .ratings-logos {
        min-width: 55px;
    }

    #imdbRating,
    #rottenTomatoesRating,
    #metacriticRating {
        font-size: 15px;
    }

    #imdbLink,
    #rottenTomatoesLink,
    #metacriticLink {
        margin: 0 10px;
    }
}

@media (max-width: 992px) {

    /* Tablet screens */
    .container {
        min-width: 90%;
    }

    #searchBar {
        margin-top: 20px;
        width: 100%;
    }

    #warnings {
        width: 70%;
    }

    #title {
        font-size: 2rem;
    }

    .card {
        width: 100%;
        padding: 5px;
    }

    #year,
    #genre {
        font-size: 1.1rem;
    }

    .movie-info-container {
        font-size: 0.7rem;
    }

    .ratings-logos {
        min-width: 60px;
    }

    #imdbRating,
    #rottenTomatoesRating,
    #metacriticRating {
        font-size: 12px;
    }

    #plot {
        font-size: 1.1rem;
    }
}

@media (max-width: 768px) {

    /* Small tablet screens */
    .container {
        width: 100%;
    }

    #warnings {
        width: 100%;
    }

    #year,
    #genre {
        font-size: 1.3rem;
    }

    .movie-info-container {
        font-size: 0.9rem;
    }

    .ratings-logos {
        max-width: 100px;
    }

    #imdbRating,
    #rottenTomatoesRating,
    #metacriticRating {
        font-size: 25px;
        margin: 20px;
    }
}

@media (max-width: 576px) {

    /* Smartphone screens */
    #title {
        text-align: center;
    }

    li.rating-container {
        margin-bottom: 0;
    }

    #imdbRating,
    #rottenTomatoesRating,
    #metacriticRating {
        font-size: 20px;
    }

    #plot {
        font-size: 1rem;
    }
}