body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

img {
    max-width: 100%;
    border-radius: 8px;
}

li {
    margin: 8px;
}

#title {
    font-size: 3rem;
    font-weight: 900;
}

#year, #genre {
    font-size: 1.25rem;
    font-weight: 900;
}

#imdbLink, #rottenTomatoesLink, #metacriticLink, #return {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.ratings-logos {
    width: 110px;
    height: auto;
}

#return {
    background-color: #f4623a;
    color: white;
}

#return:hover {
    color: #f4623a;
    background-color: white;
    border: 1px solid #f4623a;
}
