body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #1F1F1F;
    box-sizing: border-box;
}

#title {
    font-size: 3rem;
    font-weight: 900;
    color: white;
}

img {
    max-width: 100%;
    border-radius: 8px;
}

li {
    margin: 0.5rem;
}

#year,
#genre {
    font-size: 1.30rem;
    font-weight: 900;
}

#imdbLink,
#rottenTomatoesLink,
#metacriticLink,
#return {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.ratings-logos {
    width: 110px;
    height: auto;
}

#imdbRating,
#rottenTomatoesRating,
#metacriticRating {
    font-size: 20px;
}

#plot {
    font-size: 22px;
    color: white;
}

#return {
    background-color: #f4623a;
    color: white;
}

#return:hover {
    color: #f4623a;
    background-color: white;
    border: 1px solid #f4623a;
}

/* Media queries for responsive design */
@media (max-width: 1200px) {

    /* Small screens */
    .rating-container {
        justify-content: left;
    }

    .ratings-logos {
        width: 100px;
        height: auto;
    }

    #imdbRating,
    #rottenTomatoesRating,
    #metacriticRating {
        font-size: 15px;
    }
}

@media (max-width: 992px) {

    /* Tablet screens */
    .ratings-logos {
        width: 100px;
        height: auto;
    }

    #plot {
        font-size: 20px;
    }

    #imdbRating,
    #rottenTomatoesRating,
    #metacriticRating {
        font-size: 15px;
        margin: 10px;
    }
}

@media (max-width: 768px) {

    /* Small tablet screens */
    .rating-container {
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .ratings-logos {
        width: 160px;
        height: auto;
    }

    #imdbRating,
    #rottenTomatoesRating,
    #metacriticRating {
        font-size: 25px;
        margin: 30px;
    }
}

@media (max-width: 576px) {

    /* Smartphone screens */
    .rating-container {
        justify-content: center;
        display: flex;
        align-items: center;
    }

    #plot {
        font-size: 16px;
    }

    .ratings-logos {
        width: 160px;
        height: auto;
    }

    #imdbRating,
    #rottenTomatoesRating,
    #metacriticRating {
        font-size: 25px;
        margin: 30px;
    }

}